<strong>Olá, {{ deliveryman }}</strong>
<p>A Entrega abaixo foi cancelada pelo seguinte problema.</p>
<p>
  <strong>Problema: </strong>{{ problem }} <br /><br />

  <strong>Produto: </strong> {{ product }} <br /><br />

  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br />
  <small>
    Dirija com responsabilidade.
  </small>
</p>
